<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.napalm.stringtools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <!-- Allow to connect with internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar" >
        <activity
            android:name="it.napalm.stringtools.DashboardActivity"
            android:label="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Login Account"
            android:name="it.napalm.stringtools.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" ></activity>
        <activity
            android:label="Main Activity"
        	android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="it.napalm.stringtools.MainActivity"
            android:theme="@android:style/Theme.Holo.Light" ></activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.user.PersonalDataActivity"
            android:parentActivityName="it.napalm.stringtools.MainActivity" 
            android:theme="@android:style/Theme.Holo.Light" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.MainActivity" />
        </activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.user.CustomerDataActivity"
            android:parentActivityName="it.napalm.stringtools.MainActivity" 
            android:theme="@android:style/Theme.Holo.Light" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.MainActivity" />
        </activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.user.CustomerRacquetActivity"
            android:parentActivityName="it.napalm.stringtools.MainActivity" 
            android:theme="@android:style/Theme.Holo.Light" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.MainActivity" />
        </activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.user.EditCustomerRacquetActivity"
            android:parentActivityName="it.napalm.stringtools.CustomerRacquetActivity" 
            android:theme="@android:style/Theme.Holo.Light" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.CustomerRacquetActivity" />
        </activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.user.SelectRacquetActivity"
            android:parentActivityName="it.napalm.stringtools.CustomerRacquetActivity" 
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Holo.Light" >
	        <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.CustomerRacquetActivity" />
	        <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.user.NewCustomerRacquetActivity"
            android:parentActivityName="it.napalm.stringtools.SelectRacquetActivity" 
            android:theme="@android:style/Theme.Holo.Light" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.SelectRacquetActivity" />
        </activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.settings.BrandDataActivity"
            android:parentActivityName="it.napalm.stringtools.MainActivity" 
            android:theme="@android:style/Theme.Holo.Light" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.MainActivity" />
        </activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.settings.GripDataActivity"
            android:parentActivityName="it.napalm.stringtools.MainActivity" 
            android:theme="@android:style/Theme.Holo.Light" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.MainActivity" />
        </activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.settings.OvergripDataActivity"
            android:parentActivityName="it.napalm.stringtools.MainActivity" 
            android:theme="@android:style/Theme.Holo.Light" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.MainActivity" />
        </activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.settings.RacquetDataActivity"
            android:parentActivityName="it.napalm.stringtools.MainActivity" 
            android:theme="@android:style/Theme.Holo.Light" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.MainActivity" />
        </activity>
        <activity
            android:label="@string/personal_data"
            android:name="it.napalm.stringtools.settings.StringDataActivity"
            android:parentActivityName="it.napalm.stringtools.MainActivity" 
            android:theme="@android:style/Theme.Holo.Light" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="it.napalm.stringtools.MainActivity" />
        </activity>
    </application>

</manifest>
